@font-face {
    font-family: 'Product Sans';
    src: url('fonts/ProductSans-Regular.eot');
    src: local('Product Sans'), local('ProductSans-Regular'),
        url('fonts/ProductSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/ProductSans-Regular.woff') format('woff'),
        url('fonts/ProductSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('fonts/AdobeClean-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next Cyr";
    src: url('fonts/AvenirNextCyr-Medium.ttf');
    font-weight: 400;
    font-style: normal;
}